
.botoesexcluirfunc{
    flex-direction: row;
    width:500px ;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    display: flex;  
}

.divprincipaef{
    width: 550px;
    height: 50vh;
    background-color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 5px solid black;
    border-radius: 30px;
    flex-direction: column;
    margin-left: 400px;
}

.tituloexcluirfunc{
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    display: flex;
    background-color: orange;
}

.containerexcluirfunc{
    height: 629px;
    background-image: linear-gradient(purple, orange);
    background-size: 100% 100%;
}
