#corpoform{
    height: 100vh;
    background-image: linear-gradient(orange,purple);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#formulariogerente{
    height: auto;
    width: auto;
    background: #191919;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
#classe1form{
    height: auto;
    width: auto;
    flex-direction: row;
    display: flex;
}
#bloco1form label{
    border: 1px solid red;
    width: 200px;
    border-radius: 0px 24px 24px 0px;
    padding: 5px;
    flex-direction: column;
    margin: 10px;
    color: white;
}
#bloco2form input{
    border: 0px;
    outline: none;
    text-align: center;
    border: 1px solid blue;
    color: white;
    background-color: #191919;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 24px;
}
#classe2form{
    align-items: center;
    flex-direction: column;
    display: flex;
    height: auto;
    width: auto;
    margin: 10px;
}

#classe2form button{
    border: 0; 
    background: none; 
    display: block; 
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    color: white;
    width: 200px;
    outline: none;
    padding: 5px;
    margin: 5px;
}
#titulotelanovofunc h2{
    color: #191919;
}